   .cabecalho {
            background-color: blueviolet;
            color: white;
            padding: 20px 0;
            text-align: center;
        }
        .navbar-custom {
            background-color: #f5deb3; /* cor bege clara */
        }
        .navbar-custom .nav-link {
            color: #4b2e2e;
            font-weight: bold;
        }
        .navbar-custom .nav-link:hover {
            color: blueviolet;
        }
        footer {
            background-color: blueviolet;
            text-align: center;
            padding: 15px 0;
            color: white;
            font-weight: bold;
        }